.container {
  width: 500px;
  margin: 50px auto;
  background: lightgray;
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}



.box3 {
  /*clear: both;*/
}
